@media (max-width: 768px) {
  .productListContainer ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .productListContainer ul {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    gap: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .productListContainer {
    justify-self: center;
    font-size: 1rem;
  }
  .productListContainer ul {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 0.5rem;
    justify-self: center;
  }
}
.toggleShopButton {
  margin-bottom: 16px;
  padding: 10px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  width: 100px; /* Ancho fijo */
  text-align: center; /* Centrar el texto dentro del botón */
}

.toggleShopButton.open {
  background-color: red;
}

.toggleShopButton.closed {
  background-color: var(--primary-green);
}
