.aboutUs{
    display: grid;
    grid-template-columns: 1fr 1fr ; /* 2 columnas */
    grid-template-rows: auto auto auto; /* 3 filas */
    gap: 1rem; /* Espaciado entre los elementos */
}



@media (min-width: 768px) {
    .aboutUs{
        justify-self: center;
        max-width: 70%;
    }

  }