/* Estilos del contenedor del logo */
.logoContainer {
  width: 100%; /* El contenedor toma el ancho completo de la celda del grid */
  height: 100%; /* El contenedor toma el alto completo de la celda del grid */
  display: flex; /* Centramos la imagen dentro del contenedor */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

/* Estilos de la imagen */
.logo {
  width: var(
    --logo-size-sm
  ); /* El contenedor toma el ancho completo de la celda del grid */
  height: var(
    --logo-size-sm
  ); /* Asegura que la imagen mantenga su proporción */
  object-fit: contain; /* Asegura que la imagen mantenga su proporción */
}
@media (min-width: 768px) {
  .logo {
    width: var(
      --logo-size-lg
    ); /* El contenedor toma el ancho completo de la celda del grid */
    height: var(
      --logo-size-lg
    ); /* Asegura que la imagen mantenga su proporción */
    object-fit: contain; /* Asegura que la imagen mantenga su proporción */
  }
}
