.content {
  padding: 10px;
  justify-content: center;
  align-content: center;
  margin-bottom: calc(var(--icon-size-sm) + var(--spacing));
}
@media (min-width: 768px) {
  .content {
    margin-bottom: calc(var(--icon-size-md) + var(--spacing));
  }
}
@media (min-width: 1024px) {
  .content {
    margin-bottom: calc(var(--icon-size-lg) + var(--spacing));
  }
}
