.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px dotted var(--primary-green);
  padding: 1rem;
}
.product img {
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  background-color: white;
  border: 1px solid var(--primary-green);
}
.productName {
  text-align: center;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto truncado */
  overflow: hidden;
}

.productPrice {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr; /* 2 columnas */
  grid-template-rows: 1fr 1fr; /* 3 filas */
  align-items: center;
}
.discountText {
  color: var(--primary-green);
  font-weight: bold;
}
.productPanel {
  border-radius: 25px;
  border: 1px solid var(--primary-green);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 2 columnas */
}
.productPanel > button {
  border: none;
  background-color: transparent;
}
.productPanel > span {
  border-right: 1px solid var(--primary-green);
  border-left: 1px solid var(--primary-green);
  text-align: center;
}
.productPriceWODiscount {
  grid-row-start: 2;
}
