/* Estilos del contenedor principal */
.navBar {
  position: sticky; /* Cambiamos de sticky a fixed */
  top: 0;
  right: 0;
  display: grid; /* Usamos grid para organizar los elementos */
  grid-template-columns: 2fr 2fr 2fr 1fr; /* 4 columnas iguales */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  background-color: var(--light-green);
}
.cartIconContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartBadge {
  position: absolute;
  letter-spacing: 0px;
  top: -5px;
  right: -8px;
  background-color: orange;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  vertical-align: center;
}
