* {
  margin: 0;
  padding: 0;
}
:root {
  --spacing: 0.5rem; /* Espaciado base */

  --icon-size-sm: 1rem; /* Tamaño base de los íconos */
  --font-size-sm: 0.7rem; /* Tamaño base del texto */
  --logo-size-sm: calc(
    var(--icon-size-sm) + var(--font-size-sm)
  ); /* Aumenta el tamaño de los íconos */
  --icon-size-md: 1.5rem; /* Aumenta el tamaño de los íconos */
  --font-size-md: 1rem; /* Aumenta el tamaño del texto */

  --icon-size-lg: 1.5rem; /* Aumenta el tamaño de los íconos */
  --font-size-lg: 1rem; /* Aumenta el tamaño del texto */
  --logo-size-lg: calc(var(--icon-size-lg) + var(--font-size-lg));

  --primary-green: rgb(81, 163, 77);
  --primary-orange: rgb(240, 99, 39);
  --light-green: rgb(168, 212, 164);
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}
body {
  background-color: rgb(241, 248, 243);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Concept One",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
