*{
  margin:0;
  padding: 0;
}
:root {
  --icon-size-sm: 7vw; /* Tamaño base de los íconos */
  --font-size-sm: 0.8rem; /* Tamaño base del texto */
  --spacing: 0.5rem; /* Espaciado base */
  --icon-size-md: 3vw; /* Aumenta el tamaño de los íconos */
  --font-size-md: 1.2rem; /* Aumenta el tamaño del texto */
  --primary-green: rgb(81, 163, 77);
  --primary-orange: rgb(240, 99, 39);
  --light-green: rgb(168, 212, 164);
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}
body {
  background-color: rgb(241, 248, 243);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}